# Build directories
build/
cmake-build-*/
out/
dist/
customtkinter/
tcl/
tk/
.venv*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# vcpkg artifacts (manifest mode install trees and caches)
vcpkg_installed/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/

# Object files / binaries
*.o
*.obj
*.a
*.lib
*.so*
*.dll
*.dylib
*.exe
*.pdb
*.bin
*.zip

# Editor/IDE
.vscode/
.idea/
*.code-workspace
.vs/

# OS junk
.DS_Store
Thumbs.db

# SDL3 Headers
include/SDL3
lib/SDL3

notes.txt
changes.txt